.calculator{
  position: relative;
  background-color: #444A48;
  min-width: 300px;
  min-height: 600px;

  border-radius: 15px;
  border: 5px solid #CFCECA;
  box-shadow:inset 0 0 10px #28282A;

  font-size: 16px;
}